@import "../../scss/global/color";
@import "../../scss/global/font";

main.projects {
  position: relative;
  width: 90%;
  height: calc(100vh - 120px);
  top: 60px;
  margin: 0 auto;

  .project-heading {
    position: relative;
    font-size: 26px;
    display: inline-block;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 8px;
      bottom: 18%;
      z-index: -1;
      background-color: $underline-color;
    }
  }

  .projects-list {
    position: relative;
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .projects-list-item {
      position: relative;
      width: 100%;
      height: auto;
      min-height: 200px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 25px;
      overflow: hidden;

      h1.counter{
          position: relative;
          font-size: 20px;
          color: $accent-color;
          margin-bottom: 15px;

          span{
              position: relative;
              font-size: 32px;
              color: $background-color-dark;
          }
      }

      h1.heading{
        position: relative;
        text-align: center;
        font-family: $font-head;
        font-size: 24px;
        font-weight: 400;
        margin: 0 auto;
        margin-bottom: 15px;

        &::before {
          content: attr(data-backdrop);
          position: absolute;
          font-size: 64px;
          z-index: -1;
          color: $shadow-color;
          white-space: nowrap;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      p {
          position: relative;
          font-size: 16px;
          margin-bottom: 15px;
          width: 100%;
      }

      .links {
          position: relative;
          width: auto;
          height: auto;
          display: flex;
          justify-content: flex-start;
          align-items: center;

        a {
            position: relative;
            font-size: 14px;
            margin-right: 20px;
            background: $background-color-dark;
            padding: 0.3em;
            color: $background-color-light;
            text-decoration: none;

            &:hover{
                background: $accent-color;
            }
        }
      }
    }
  }
}
